# Default ignored files
/shelf/
/workspace.xml
/.idea/imc.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/venv_imc
imc.spec
